<div class="content">
    <div class="container">
      <h2>Welcome to the world of books</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aperiam libero culpa. Labore aperiam numquam eum
        nemo autem laboriosam? Et labore enim consequatur ipsum minus saepe architecto. Iste, sunt explicabo!</p>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/images/pexels-element-digital-1370295.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/pexels-suzy-hazelwood-1098601.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/pexels-wendy-van-zyl-1112048.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
  </div>
